/__pycache__
/*/__pycache__
/*/*/__pycahe__
/*/*/*/__pycahe__
/*/*/*/*/__pycahe__
/*/*/*/*/__pycahe__
/*/*/*/*/*/__pycahe__

/test
x/*.sh
x/*.c
x/build

*.txt
*.npy
*.npz
*.dat
*.mtx
*.zip
# *.ipynb
*.ipynb_checkpoints
*.sh.o*
*.so
